For the installation of the package for react icons run
 npm i react-icons

For the installtion of the packge for paystack(payment gateway) run


To Generate a PDF Invoice After Payment run
npm install pdf-lib


