*{
  text-decoration: none;
}
body{
  background-color:  rgb(250, 240, 234);
}
/* NAVBAR */
.navbar{
  display: flex;
  justify-content: space-around;
  position: sticky;

  border-bottom: 1px solid rgb(211, 211, 211);
}


.navbar .navlogo img{
  width: 200px;
}
.navbar > .navlinks li{
  display: inline-block;
  margin: 9px 30px;
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar > .navlinks li :hover{
  color: rgb(238, 98, 5);
}
.navbar > .navlinks li a{
  color: black;
  font-size: 17px;
}
.navbar .btn{
  padding: 10px 10px;
  cursor: pointer;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  margin-right: 40px;
}
.btn{
  padding: 10px 15px;
  background-color: rgb(238, 98, 5);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* BODY STYLING */
.content{
  display: flex;
  justify-content: space-around;
}
.content .image-content img{
  border-radius: 20px;
  /* display: block; */
  margin-top: 20px;
}

.content .text-content h3{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
  font-style: normal;
 font-weight: 100;
 font-size: 40px; 
}
.content .text-content h6{
  color: gray;
}
.content .text-content p{
  color: gray;
    font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}
span{
  color: rgb(238, 98, 5);
}
.second-content{
  margin-top: 7%;
  display: flex;
  justify-content: space-around;
}
.second-content .second-text{
margin-right:29%;
line-height: 0.5;
}
.second-content .second-button{
  margin-right: 80px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.second-content .second-text h3{
  font-weight: 100;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}
.second-content .second-text p{
color: gray;
  font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}
.third-content .third-image-content{
  display: flex;
margin-left: 10%;
}

.third-image-content li{
  margin: 0px 40px;
  list-style: none;
  cursor: pointer;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.third-content {
margin-left: 8%;
}
.third-image-content li h3{
  display: flex;
  justify-content: center;
  color: rgb(238, 98, 5);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.third-content .third-image-content li a img{

  padding:18px 19px ;

}


.hover-glow {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.third-image-content{
  display: flex;
  /* flex-direction: row; */
}
.hover-glow:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(255, 223, 0, 0.6); 
  filter: brightness(1.1);
}
.fourth-content{
  display: flex;
}
.icon-label {
  display: flex;
  align-items: center;
  gap: 8px; 
  text-decoration: none;
  color: inherit;
}

.icon-label h5 {
  margin: 0;
}

.fourth-content-text {
  display: inline-block;
  background-color: rgb(226, 221, 221);
  padding: 3px 66px;
  margin: 4px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.fourth-content-text li{
  list-style: none;

}
.icon{
  color: rgb(238, 98, 5);
  font-size: 30px;
  margin-bottom: 15px;
}
.icon-label {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.icon-label h5 {
  margin: 0;
}

.fourth-content-text h3 {
  margin-top: 8px;
}

.fourth-content {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
justify-content: center;
  padding: 20px 0;
  margin-top: 4%;
}

.suggested-items{
  margin-left: 10%;
  font-weight: 0;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}

/* FOOD CARD */
.cardfood{
  display: flex;
  margin-left: 11%;
}

.food-card {
  position: relative;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
  height:420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
 margin-left: 30px;
}

.food-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  

}
.food-details{
  margin-top: 50px;
}
.food-title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(238, 98, 5);
  text-align: center;
  margin: 0;
}
.food-details .food-description{
  margin-top: 10%;
}
.food-description {
  font-size: 15px;
  color: #6b7280; 
  text-align: center;
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.food-price {
  font-size: 16px;
  font-weight: bold;
  color: rgb(238, 98, 5);
text-align: center;
}

.add-to-cart {
  background-color: rgb(238, 98, 5); 
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 66px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.add-to-cart:hover {
  background-color: rgb(238, 98, 5); 
}
.food-details .title-like{
  display: flex;
justify-content: space-between;

}
.food-details .title-like .food-title{
  margin-right: 20px;
}
.favourite{
  color: red;
  margin-left: 30px;
  cursor: pointer;
  font-size: 20px;
}
.food-details .price-add{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  }
  .add{
    margin-top: 13px;
    background-color: rgb(248, 230, 230);
    padding: 8px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(112, 111, 111);
  }

/* FOODS PAGE */
.foodPageNav{
  display: flex;
  justify-content: space-between;
}
.foodPageNav .navlogo{
  margin-left: 10%;
}

 .foodPageNav .navlogo img{
  width: 200px;
 } 
.food-link{
margin-right: 300px;
list-style: none;

}
.food-link li{
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 10px;
}
.food-link li a{
  margin-left: 100px;
  color:black;
}

.food-link li a:hover{
  color:rgb(238, 98, 5);
}

.foodPageNav input{
  margin: 14px 0px;
  margin-left: 20%;
  width: 30%;
  height: 40px;
  border-radius: 10px;
  border: none;
}
.foodheader-text {
  margin-top: 5%;
  margin-left: 11%;
}
.food-details{
  margin-right: 15px;
}
.food-description{
  margin-right: 50%;
}
.foodheader{
  display: flex;
  margin-left: 1.5%;
}


.foodheader-text{
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.orderfood{
  margin-left: 45%;
}


/* ORDERPAGE */
.order-container{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}
.order-container input{
  height: 50px;
}
.order-container .check{
  display: flex;
}
.input_field{
  width:110% ;
  border: none;
  background-color:    rgb(250, 240, 234);
  border: 1px solid rgb(178, 178, 178);
}
.short-input_field{
  width: 40%;
  border: none;
}
.check .box{
  margin-top: 7px;
  cursor: pointer;
}
.check p{
font-size: 15px;
margin-top: 23px;
}
 .order-btn{
  margin-top: 20px;
  padding: 20px 49%;
  font-size: 20px;
  border-radius: 10px;
cursor: pointer;
background-color: #ee6205;
color: white;
border: none;
 }
   .add-sub {
  display: flex;
  margin-left: -40px; 
  gap: 15px;
}
  .add-sub .sub{
    background-color: white;
    padding: 15px 45px;
    cursor: pointer;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease;
    font-size: 30px;
    color: #ee6205;
  }
    .add-sub .addnew{
    background-color: rgb(238, 98, 5);
    color: white;
    padding: 15px 45px;
    cursor: pointer;
    margin-right: 20px;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: box-shadow 0.3s ease;
     font-size: 30px;
  }
  .image-count{
    display: flex;
  }
   .image-count span{
    margin-top: 19%;
    margin-left: 10%;
    font-size: 50px;
   }
 /* ORDERIMAGE,DESCRIPTION,PRICE */
 .ordered-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
justify-content: center;
}

.ordered-item-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* ABOUT PAGE */

.about-heading{
  background-color:  rgb(253 225 211 / var(--tw-bg-opacity, 1));
  color: #ee6205;
  padding: 8px 8px;
  border-radius: 20px;
max-width: 74px;
text-align: center;
margin: auto;
margin-top: 80px;
}
.about-head{
  text-align: center;
}
.about-head h1{
  font-size: 50px;
}
.about-head p{
  color: #6b7280;
  font-size: 19px;
}
.about-image-story img{
  border-radius: 20px;
}

.text-icon {
  display: flex;
  align-items: center;
  gap: 12px; 
  margin-bottom: 5px;
}
.fa-ico {
  font-size: 30px;
   color: #ee6205;
   background-color: rgb(253 225 211 / var(--tw-bg-opacity, 1));
   border-radius: 50%;
   padding: 10px 10px;
}
.about-image-story{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.story h1{
  text-align: center;
}
.story p{
  text-align: center;
  color: #3f4046;
  font-size: 18px;
}
/* CONTACT PAGE */
.infos{
  display: flex;
  justify-content: space-evenly;
}
.infos p{
  color: #3f4046;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.address{
  margin-right: 80px;
}

.message input{
  width:450px;
  height: 40px;
  border-radius: 8px;
  background-color:rgb(250, 240, 234);
  border: 1px solid rgb(178, 178, 178);
  padding-left:8px ;
  margin-top: 10px;
  margin-bottom: 14px;

}
.message label{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.field-message{
  width: 200px;
}
.btn-submit{
  padding: 15px 187px;
  background-color: #ee6205;
  border: none;
  border-radius: 10px;
}
.business-text h4{
font-size: 25px;
}
.contact .infop{
  text-align: center;
}
/* FOOTER */
.footer-container{
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(238, 98, 5); 
}
.footer-container p{
  color: white;
text-align: center;
}